.Agenda-Card {
	height: 3.5in;
	width: 2.5in;
	border-radius: (1in / 10);
	// border: (1in / 10) solid black;
	overflow: hidden;
	display: inline-grid;

	&.front {
		padding: .125in 0in;
		font-size: 12px;
		background: #FAFAFA;
		grid-template-rows: auto 1fr;

		&>.Title {
			border-bottom: 1px solid black;
			text-align: center;
			margin-bottom: 2px;
		}

		&>.Blurb {
			padding: 0in .125in;
			padding-top: 2px;

			li {
				margin: 0px;
			}

			ol {
				padding-left: 10px;

				ul {
					padding-left: 2px;
				}
			}
		}
	}

	&.back {
		// background-image: radial-gradient(#0c7b6f, #00556c);
		background-color: black;
	}	
}

.PrintSheet.agenda > .Agenda-Card { margin: .125in; }