@import "$homeDir/Registry/colors/colors";

.Specialty-Card {
	// height: 2.5in;
	// width: 3.5in;
	// height: 2.5in + 2.5in + .25in;
	// width: 3.5in + 2.5in + 2.5in + .25in;
	height: 5in;
	width: 7.5in;
	font-size: 13px;
	border-radius: (1in / 10);
	// border: (1in / 10) solid black;
	overflow: hidden;
	display: inline-grid;

	p {
		padding: 0px;
		margin: 0px;
	}

	&.front {
		position: relative;

		&.mini_view {
			width: 3.5in;
			height: 2in;


			&>.Specialty-fg {
				padding-left: 10px;

				.Title { margin-left: 0px !important; }

				&>.IsMini {
					position: absolute;
					top: 17px;
					right: 13px;
					font-size: 10px;
				}
				&>.Content {
					display: flex;
					flex-direction: column;

					&>.Overview {
						margin: 10px 5px;
						// &>.Title { margin-left: 0px !important; }	
					}

					&>.Actions {
						padding-left: 5px;
						border-bottom: none;
					}
				}
			}
		}
		

		&>.Specialty-bg, &>.Specialty-bg>*, &>.Specialty-fg  {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
		}

		&.projectManager > .Specialty-bg { background-color: $yellow; }
		&.humanResources > .Specialty-bg  { background-color: $magenta; }
		&.designResearcher > .Specialty-bg {  background-color: $blue; }
		&.recruiter > .Specialty-bg  { background-color: $manilla; }
		&.cultureChampion > .Specialty-bg  { background-color: $teal; }
		&.accountant > .Specialty-bg { background-color: $green; }
		&.exampleSpecialty > .Specialty-bg { background-color: $orange; }

		&>.Specialty-bg {
			background-image: radial-gradient(circle at 20px 96%, rgba(0,0,0,0.3), rgba(250,250,250,0.2));
			mix-blend-mode: multiply;
			&>.Fade {
				display: grid;
				// position: absolute;
				// top: 0px;
				// left: 0px;
				// right: 0px;
				// bottom: 0px;
				margin: (1.5in / 16);
				grid-template-rows: auto 1fr;
				grid-template-columns: auto 1fr;
				border-radius: (1in / 16);
				overflow: hidden;
				opacity: 0.8;

				&>.Fill {
					background: white;

					&:nth-child(2) { 
						position: relative;
						// left: -5px;
						// margin-left: -5px;
						right: -5px;
						margin-right: -5px;
						border-top-left-radius: inherit; 
						transform: skewX(-30deg);
						margin-bottom: -3px;
					}
					&.none {
						visibility: hidden;
						padding: (1in /32) (1in /16);
						font-size: 18px;
					}
					// &:nth-child(3) { border-radius: 0 0 0 $r; }
					&:nth-child(3) { border-top-left-radius: inherit;}
				}
			}
		}

		&>.Specialty-fg {
			// grid-template-rows: auto auto 1fr;
			// padding-left: (1in /16);
			// // padding-right: 0px;
			// // background: white;
			// top:.125in;
			// left: .125in;
			// right: .125in;
			// bottom: .125in;
			padding: .125in;
			// text-shadow: 0px 0px 2px #ffffff4d;


			

			.Title, .InlineTitle { 
				// text-align: center;
				display: inline-block;
				line-height: 10px;
				font-size: 10px; 
				letter-spacing: 1px;
				&.Title {
					margin-left: -5px;
					border-bottom: 1px solid;
				}
				&.InlineTitle {
					margin: 0px 5px;
				}
			}


			&>.Content {
				display: grid;
				grid-template-rows: 24px auto auto 1fr;
				grid-template-columns: auto auto 1fr;
				// grid-template-areas: 
				// 	"Name Overview Overview Overview"
				// 	"FounderSpace FounderSpace Agenda CheatSheet"
				// 	"Actions Actions Agenda CheatSheet";
				grid-template-areas: 
					"Name Overview Overview "
					"FounderSpace FounderSpace Actions "
					"FounderSpace FounderSpace Agenda "
					"CheatSheet CheatSheet Agenda ";

				&>.Name {
					position: relative;
					top: -3px;
					left: 2px;
					font-size: 18px;
					color: white;
					font-style: italic;
					// text-shadow: 0px 0px 2px #0000004d;
					text-shadow: 2px 2px 0px rgba(0,0,0,0.25);
				}

				&>.Overview {
					grid-area: Overview;
					margin-left: 30px;
					// white-space: nowrap;
					// position: relative;
					// z-index: 1;
					// margin-top: -3px;
					// &>.InlineTitle {
					// 	border-bottom: none;
					// 	margin: 0px 5px;
					// }
					&>.Blurb {
						display: inline-block;
						font-size: 10px;
					}
				}

				&>.FounderSpace {
					grid-area: FounderSpace;
					position: relative;
					height: 2.5in;
					width: 3.5in;
					border: 3px dashed;
					// border-radius: .25in;
					border-radius: (1in / 10);
					color: #888;
					opacity: 0.5;
					margin: 5px;
					margin-right: 15px;


					&>.PlaceHere {
						position: absolute;
						text-transform: uppercase;
						text-align: center;
						font-size: 18px;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%) rotate(-30deg);
					}
				}


				&>.Actions {
					grid-area: Actions;
					border-bottom: 1px solid rgba(128, 128, 128, 0.5);
					padding-bottom: 10px;
					margin-bottom: 10px;
					margin-right: 10px;

					&>.ActionList {
						position: relative;
						z-index: 1;
						margin-bottom: 5px;
						// margin-top: -4px;

						&>.List {
							padding-left: 2px;
							font-size: 12px;

							// strong {
							// 	font-size: 10px;
							// }
						}
					}
				}

				&>.Agenda {
					grid-area: Agenda;
					// margin: 0px 5px;
					ol {
						padding-left: 15px;
						ul {
							padding-left: 10px;
						}
					}

				}

				&>.CheatSheet {
					grid-area: CheatSheet;
					margin: 0px 5px;
					padding-left: 5px;
					&>.Symbols {
						&>.List {
							line-height: 18px;
							columns: 2;
						}
					}
					
					&>.WorkerVenn {
						display: none;
						margin-top: 10px;
						// background-image: url("../../../assets/Illustration/WorkerHeirarchy.svg");
						background-image: url("../../../assets/Illustration/WorkerHeirarchy.svg");
						background-size: contain;
						height: 75px;
						width: 125px;
						background-color: rgba(255,255,255,0.5);
						border-radius: 3px;
						// position: relative;
						// transform: rotate(-90deg);
						// &>.Founder, &>.Employee {
						// 	display: flex;
						// 	align-items: center;
						// 	justify-content: center;
						// 	height: 75px;
						// 	width: 75px;
						// 	border-radius: 100px;
						// 	border: 1px solid;
						// 	background: rgba(255,255,255,0.3);
						// }

						// &>.Worker {
						// 	position: absolute;
						// 	top: 49px;
						// 	left: 16px;
						// 	z-index: 10;
						// }

						// &>.Employee {
						// 	position: relative;
						// 	top: -32px;
						// }
					}
				}
				
			}
		}
	}

	&.back {
		// background-image: radial-gradient(#0c7b6f, #00556c);
		background-color: black;
	}	
}

.PrintSheet.agenda > .Agenda-Card { margin: .125in; }