@import "$homeDir/Registry/colors/colors";

.Mission-Card {
	height: 3.5in;
	width: 2.5in;
	border-radius: (1in / 10);
	border: (1in / 10) solid $darkGrey;
	overflow: hidden;
	display: inline-grid;

	&.front {
		grid-template-rows: auto 1fr;
		background-color: $darkGrey;

		&>.Title {
			color: $yellow;
			// font-variant: all-caps;
			text-align: center;
			padding-bottom: (1in/ 16);
		}

		&>.Info {
			// background-color: $teal;
			background-color: white;
			// color: $darkGrey;
			border-radius: .25in;
			font-size: 14px;

			&>.Overview {
				margin: (1in/8);
				display: grid;
				grid-template-columns: auto 1fr; 

				&>.Row {
					display: contents;

					&>.Name {
						font-weight: bold;
						margin-right: 1em;
					}
				}
			}

			&>.Goal {
				padding: (1in /16);
			}
		}
	}

	&.back {
		// background-image: radial-gradient(#0c7b6f, #00556c);
		background-color: black;
	}	
}
