.Board {
	// margin: 1in;
	background: #4a7146;
	background-image: url("../../assets/Employees/Backgrounds/Material/Floor/Grass.svg");
	// flex: 1;
	flex-shrink: 0;
	// padding: 0in 0.25in 0.25in 1in;

	// width: 2284.8px;
	// height: 1680px;
	overflow: hidden;

	&>.SynergyTrack {
		height: 1in;
		display: flex;
		align-items: center;
		justify-content: center;

		&>.TrackStep {
			transform: rotate(45deg);

			&.small {
				height: 10mm;
				width: 10mm;
				// margin: 0px 9px;
				margin: 0px 8px;
			}

			&.big {
				height: 15mm;
				width: 15mm;
				margin: 0px 15px;
			}

			&>.Background {
				position: relative;
				z-index: 1;
				height: 100%;
				width: 100%;
				background: white;
				opacity: 0.75;
				border: 2px solid white;
				border-radius: 8px;
				border-radius: 12px;
			}

			&>.Value {
				position: absolute;
				top: 50%;
				left: 50%;
				// color: #4a7146;
				color: white;
				opacity: 0.65;
				font-size: 12px;
				// mix-blend-mode: difference;
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}

	&>.Building {
		margin: 0in .25in .25in 1in;
		padding: 0.25in;
		position: relative;
		// background: black;

		&>.Shadow {
			position: absolute;
			pointer-events: none;
			top: 0px;
			left: 0px;
			height: 200%;
			width: 200%;
			background-image: url("../../assets/Employees/Backgrounds/Shadows/Box.svg");
			background-size: 100% 100%;
			opacity: 0.1;
		}

		&>.Walls {
			pointer-events: none;
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			overflow: hidden;
			border-radius: 4px;
			
			&>.Brick { 
				position: absolute;  
				background-size: 54.9px 54px;

				&.top, &.bottom { 
					height: .25in;
					width: 100%;
					background-size: 55.05px 54px;
					background-image: url("../../assets/Employees/Backgrounds/Material/Brick.png");
				}
				&.top {top: 0px;} 
				&.bottom {
					bottom: 0px; 
					background-position: 27px 0px;
				}

				&.left, &.right { 
					height: calc(100% - .25in);
					width: .25in;
					overflow: hidden;

					&::after {
						position: absolute;
						content: "";
						display: block;
						background-size: inherit;
						background-image: url("../../assets/Employees/Backgrounds/Material/Brick.png");
						height: 5000px;
						width: 5000px;
						transform: rotate(-90deg);
					}
				}
				&.left {
					top: .25in; 
					left: 0px;
					&::after { background-position: -10px 0px; }
				} 
				&.right {
					top: 0in; 
					right: 0px;
					&::after { background-position: -6px 0px; }
				}
			}

			&>.Window {
				position: absolute;
				background-image: url("../../assets/Employees/Backgrounds/Material/Glass.png");
				
				// background-color: #25cde1b3;
				background-color: #b7f7ffcc;
				background-position: 0px -3px;
				height: .25in;
				
				&::after {  // Window Light
					position: absolute;
					content: "";
					display: block;
					background-image: url("../../assets/Employees/Backgrounds/Shadows/Window-Light.svg");
					background-size: 100% 100%;
					width: 200%;
					
					left: -50%;
					opacity: 0.3;
				}

				&.width_1 {
					background-size: 117px 30px;
					width: 117px;
					&::after { height: 100px; }
				}

				&.width_3 {
					background-size: 112px 30px;
					width: 112px * 3;
					&::after { height: 300px; }
				}

				&.width_5 {
					background-size: 111px 30px;
					width: 111px * 5;
					&::after { height: 500px; }
				}

				&.width_7 {
					background-size: 111px 30px;
					width: 111px * 7;
					&::after { height: 700px; }
				}

				&.top_left, &.top_center, &.top_right { 
					&.top_left { left: 160px; }
					&.top_center { left: 820px; }
					&.top_right { right: 132px; }
					&::after { top: .25in; }
				}

				&.bottom_left, &.bottom_center, &.bottom_right { 
					bottom: 0px; 
					&.bottom_left { left: 132px; }
					&.bottom_center { left: 791px; }
					&.bottom_right { right: 160px; }
					&::after { 
						bottom: .25in; 
						transform: rotate(180deg);
					}
				}

				&.left {
					transform: rotate(90deg) scale(1, -1);
					left: -377px;
					top: 618px;
					height: 25px;
					&::after { top: .25in; }
				}

				&.right_1, &.right_2, &.right_3, &.right_bottom {
					transform: rotate(90deg);
					right: -47px;
					height: 25px;
					&::after { top: .25in; }	

					&.right_1 { top: 150px + 54px;}
					&.right_2 { top: 369px + 54px;}
					&.right_3 { top: 589px + 54px;}
					&.right_bottom { 
						bottom: 452px;
						right: -266px;
					}
					// &.right_4 { bottom: 616px + 54px;}
					// &.right_5 { bottom: 396px + 54px;}
					// &.right_6 { bottom: 177px + 54px;}
				}
			}
		}

		&>.OfficeSpace {
			position: relative;
			height: 0.525in * (5 * 6 - 2);
			width: 0.525in * (7 * 6 - 1);	
			// border: .125in solid black;
			// background: #BBB;
			// background-color: rgb(53, 74, 117);
			background-color: #b6b6b6;
			background-size: 0.525in 0.525in;
			background-image: linear-gradient(to right, #989898 1px, transparent 1px), linear-gradient(to bottom, #989898 1px, transparent 1px);
			// box-sizing: content-box;
			// &>*{box-sizing: border-box;}

			&::after {
				position: absolute;
				content: "";
				display: block;
				top: 0px; left: 0px; right: 0px; bottom: 0px;
				background-image: url("../../assets/Employees/Backgrounds/Material/ConcreteTexturing-b&w.png");
				opacity: 0.2;
			}

			&>.Employee-Card {
				position: absolute;
				// margin: (((0.525in * 5) - 2.5in) / 2) (((0.525in * 7) - 3.5in) / 2);
				cursor: move;
				transform: translate(7px, 6px);
				z-index: 2;
			}
		}
	}

	&>.MissionControl {
		position: absolute;
		bottom: 0px;
		right: 0px;
		height: 7.85in;
		width: 11in;
		background: rgba(255,255,255,.99);
		z-index: 10;
		display: grid;
		grid-template-rows: 50% 50%;
		grid-template-columns: repeat(4, 25%);

		&>* { border: 1px solid rgba(0,0,0,0.25); }

		&>.ProjectCardSpace {
			&>.Text {
				transform: rotate(-45deg);
			}
		}

		&>.CleaningAndQuarters {
			&>* { 
				height: 50%;
				border: inherit;
			}
		}
	}
}

body>.Board {
	margin: 0px;
	position: absolute;
}