.Placeable-Card {
	position: relative;
	height: 2in;
	width: 2in;
	border-radius: (1in / 10);
	// border: (1in / 10) solid black;
	overflow: hidden;
	display: inline-block;

	&.front {
		background-size: contain;
		background-position: bottom center;
		font-size: 12px;

		&.cat {
			height: 1in;
			width: 1.5in;
			background-image: url("../../../assets/Placeable/Cat.svg");
		}

		&.dog {
			height: 1.5in;
			width: 2in;
			background-image: url("../../../assets/Placeable/Dog.svg");
		}

		&.fish {
			height: 1in;
			width: 2.5in;
			background-image: url("../../../assets/Placeable/Fish.svg");
		}


		&.couch {
			height: 1.5in;
			width: 3.5in;
			background-image: url("../../../assets/Placeable/Couch.svg");
		}

		&.arcade {
			height: 1.5in;
			width: 1.5in;
			background-image: url("../../../assets/Placeable/ArcadeCabinet.svg");

			&>.Topbar {
				flex-direction: column;
			}
		}

		&.beanbag {
			height: 2in;
			width: 2in;
			background-image: url("../../../assets/Placeable/Beanbag.svg");
		}

		&>.Topbar {
			display: flex;
			&>* {
				padding: 2px;
				background: rgba(255,255,255,0.8);
				border-radius: 2px;
				margin: 3px;
				&:last-child {
					// margin-right: 0px;
				}
			}
			// &>.Name { flex: 1; }
			&>.Effect { flex: 1; text-align: center; }
		}
	}

	&.back {
		// background-image: url("../../../assets/Employees/Backgrounds/Card/Back/Event.svg");
		background-size: contain;
		background-position: center center;
		background-color: white;
		text-align: center;
		padding-top: 170px;
		font-size: 22px;
		color: #4a4a4a;
	}	
}
