// .Agenda-Card {
// 	height: 3.5in;
// 	width: 2.5in;
// 	border-radius: (1in / 10);
// 	// border: (1in / 10) solid black;
// 	overflow: hidden;
// 	display: inline-grid;

// 	&.front {
// 		background: black;
// 		color: #666;
// 		grid-template-rows: auto 1fr auto;
// 		padding: .125in;

// 		&>.Name {
// 			border-bottom: 1px solid;
// 		}

// 		&>.Description {
// 			text-indent: 1em;
// 			text-align: justify;
// 			padding: .125in 0in;
// 			color: white;
// 		}

// 		&>.Footers {
// 			font-size: 12px;
// 		}
// 	}

// 	&.back {
// 		// background-image: radial-gradient(#0c7b6f, #00556c);
// 		background-color: black;
// 	}	
// }

// .PrintSheet.agenda > .Agenda-Card { margin: .125in; }