.Flooring {
	display: grid;

	.Tile {
		height: .525in;
		width: .525in;

		background-size: 100% 100%;

		&.--type_carpet_brown { background-image: url("../../assets/Employees/Backgrounds/Material/Carpet/Brown.svg"); }
		&.--type_carpet_red { background-image: url("../../assets/Employees/Backgrounds/Material/Carpet/Red.svg"); }
		&.--type_carpet_dark_grey { background-image: url("../../assets/Employees/Backgrounds/Material/Carpet/Dark-Grey.svg"); }
		&.--type_carpet_olive { background-image: url("../../assets/Employees/Backgrounds/Material/Carpet/Olive.svg"); }
		&.--type_concrete { background-image: url("../../assets/Employees/Backgrounds/Material/Floor/Concrete.svg"); }

		&.--rotated { transform: rotate(90deg); }
	}
}