.Office {
	// display: grid;
	position: relative;
	// filter: blur(1.5px);
	height: 350px;
	width: 350px;

	&>.Wall {
		display: grid;
		height: 100%;
		width: 100%;

		&>.Material {
			&.brick { background-image: url("../../assets/Employees/Backgrounds/Material/Brick.png"); }
			&.stone { 
				background-image: url("../../assets/Employees/Backgrounds/Material/Stone.png"); 
				border: 1px solid #554;
			}
			&.wood { background-image: url("../../assets/Employees/Backgrounds/Material/Board.png"); }
			&.glass { 
				background-image: url("../../assets/Employees/Backgrounds/Material/Glass.png"); 
				border: 2px solid #444;
			}
			&.paint-grey { background: #EEE; }
			&.paint-beige { background: beige; }
			&.paint-dark-grey { background: #888; }
			&.paint-blue { background: #95adbd; }
		}
	}

	&>.Floor {
		position: absolute;
		bottom: 0px;
		width: 100%;
		// background-color: grey;
	}

	&.bg-near {
		&>.Wall>.Material{
			&.brick { background-size: 50px 50px; }
			&.stone { background-size: 180px 90px; }
			&.wood { background-size: 240px 40px; }
			&.glass { background-size: 100px 100px; }
		}
		&>.Floor { display: none; }
	}

	&.bg-far {
		&>.Wall>.Material{
			&.brick { background-size: 34px 36px; }
			&.stone { background-size: 90px 45px; }
			&.wood { background-size: 120px 20px; }
			&.glass { background-size: 50px 50px; }
		}
	}


}