@import "$homeDir/Registry/colors/colors";

.Instructions-Book {
	max-width: 8.5in;
	font-size: 13px;
	background: $offWhite;
	padding: .5in 0in;

	em { color: $darkGreyBlue; }

	&>.Instruction {
		page-break-inside: avoid;

		li {
			margin-top: 5px;
		}

		&.firstThing {
			&>.Blurb {
				font-size: 18px;
			}
		}

		&.iconGlossary > .Blurb ul {
			columns: 2;
		}

		&:not(.glossaryItem) {
			padding: 0px 0.5in;
			padding-bottom: 50px;
			&>.Title {
				font-size: 30px;
				// text-align: center;
				border-bottom: 2px solid;
				margin-bottom: 6px;
			}

			&>.Blurb {
				text-align: justify;
				text-indent: 1em;
			}
		}

		&.examplePlay > .Blurb > ul {
			list-style-type: disclosure-closed;
		}

		&.glossaryItem {
			// border-bottom: 1px solid black;
			// padding-bottom: 20px;
			margin: 20px 0.5in;

			&.isShort {
				margin: 10px 0.5in;
				.Title, .Blurb, p {
					display: inline;
					margin: 0px;
					padding: 0px;
					font-size: inherit;					
				}
			}

			&>.Title {
				display: inline-block;
				font-weight: bold;
				margin-right: 20px;
				font-size: 16px;

				.Icon { font-size: 14px; }
			}
			&>.Blurb {
				// display: inline;
				padding-left: 1em;
			}

			&>table.halfCount {
				border-collapse: collapse;
				margin: auto;
				td {
					text-align: center;
					border: 1px solid;
					&:not(:first-child) { width: 25px; }
				}
			}
		}

		.CardAndDesc {
			display: flex;
			margin: 10px;

			&>.Card {
				position: relative;
				flex-shrink: 0;
				margin-right: 10px;

				&>*:first-child{	
					box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
				}

				&>.KeyMarkers {
					position: absolute;
					top: 0px;
					left: 0px;
					height: 100%;
					width: 100%;

					&>.KeyMarker {
						position: absolute;
						z-index: 5;
						// background: #FF7;
						background-image: linear-gradient(#E6EA4B, #FFFE8E 35%);
						
						font-weight: bold;
						width: 20px;
						height: 20px;
						display: flex;
						align-items: center;
						justify-content: center;
						// border-radius: 1px;
						// border: 1px solid rgba(0,0,0,0.2);
						&::after {
							display: block;
							content: "";
							position: absolute;
							top: 50%;
							height: 50%;
							width: 100%;
							box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.15);
						}
					}
				}
			}

			&>.Desc {
				ol { list-style-type: upper-alpha; }
			}

			

			
			&.agendaCard > .Desc > ol {
				list-style-type: symbols;
			}

			&.commonActions {
				ul { 
					padding-left: 0px; 
					list-style-type: none; 
				}
				&>.Card {

					position: relative;
					height: 2.5in;
					width: 3.5in;
					overflow: hidden;
					.CropView {
						&>.Specialty-Card {
							position: absolute;
							top: -44px;
							left: -361px;
						}
					}
				}
			}

			&.characterCard .KeyMarker {
				&.image { top: 1%; left: 1%; }
				&.skills { top: 53%; left: 1%; }
				&.name { top: 1%; left: 34%; }
				&.pay { top: 1%; left: 73%; }
				&.quirk { top: 13%; left: 39%; }
			}

			&.specialtyCards {
				.Card {
					.KeyMarker {
						&.founderSpace { top: 8%; left: -4%; }
						&.overview { top: 0%; left: 20%; }
						&.specialActions { top: 7%; left: 44%; }
						&.commonActions { top: 16%; left: 44%; }
						&.agenda { top: 50%; left: 44%; }
						&.cheatsheet { top: 59%; left: -4%; }
					}
					&>.CropView {
						height: (5in / 2);
						width: (7.5in / 2);
						border-radius: 4px;
						&>.Specialty-Card {
							transform: scale(0.5) translate(-50%, -50%);
						}
					}
				}
			}

			&.optionCard .KeyMarker {
				// &.name { top: 3%; left: 23%; }
				// &.repeatIcon { top: 3%; left: 79%; }
				&.description { top: 12%; left: -2%; }
				&.actions { top: 38%; left: 8%; }
				&.repeatable { top: 65%; left: -2%; }
			}

			&.projectCard .KeyMarker {
				&.name { top: 1%; left: -6%; }
				&.payout { top: 1%; left: 79%; }
				&.job { top: 11%; left: -6%; }
				&.tasks { top: 17%; left: 5%; }
				&.skills { top: 17%; left: 60%; }
				&.stageSplit { top: 43%; left: 34%; }
			}
			
			&.eventCard .KeyMarker {
				&.name { top: 1%; left: 6%; }
				&.majorIcon { top: 4%; left: 88%; }
				&.description { top: 20%; left: 1%; }
				&.actions { top: 42%; left: 1%; }
			}


			&.quirkCard .KeyMarker {
				&.name { top: 2%; left: 23%; }
				&.specialEffects { top: 13%; left: -8%; }
				&.qualities { top: 46%; left: -8%; }
			}

			&.missionCard .KeyMarker {
				&.title { top: 2%; left: 18%; }
				&.specs { top: 12%; left: -3%; }
				&.goal { top: 37%; left: -3%; }
				&.endpointType { top: 80%; left: -3%; }
			}

			&.boardOverview {
				display: flex;
				flex-direction: column;
				margin: 0px;

				&>.Card {
					margin: 10px 0px;
					.CropView {
						width: 7.45in;
						height: 5.25in;
						&>.Board {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%) scale(0.32);
						}
					}

					.KeyMarker {
						&.synergyTrack { top: 1%; left: -2%; }
						&.officeSpace { top: 10%; left: 8%; }
						&.frontDoor { top: 80%; left: -2%; }
						&.missionControl { top: 50%; left: 50%; }
						&.missionCard { top: 51%; left: 52%; }
						&.projectCards { top: 51%; left: 64%; }
						&.cleaningService { top: 75%; left: 52%; }
						&.quarterTrack { top: 87%; left: 52%; }
					}
				}
				&>.Desc {
					columns: 2;
				}
			}
			
		}
	}
}