@import "$homeDir/Registry/colors/colors";

.Event-Card {
	height: 2.5in;
	width: 3.5in;
	border-radius: (1in / 10);
	overflow: hidden;
	display: inline-grid;

	&.front {
		display: inline-flex;
		flex-direction: column;
		overflow: hidden;
		// grid-template-columns: auto 1.25in;
		// grid-template-rows: auto 1fr auto;
		// grid-template-areas: 
		// 	"Title Title"
		// 	"Description Actions ";
		background: $offWhite;
		

		&>.Title {
			grid-area: Title;
			display: grid;
			grid-template-rows: auto auto;
			grid-template-columns: auto 1fr auto;
			padding: (1in / 32);
			background: $teal;
			color: white;
			border-bottom: 1px solid #AAA;

			&>.Avatar {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 32px;
				width: 32px;
				color: white;
				border-radius: 32px;
				grid-row-end: span 2;
				margin-right: 8px;

				&.announcements { background: #2b82cf; }
				&.events { background: #d48106; }
				&.office { background: #42b263; }
			}

			&>.From {
				font-size: 12px;
			}

			&>.Star {
				display: flex;
				align-items: center;
				grid-column-start: 3;
				grid-row-start: 1;
				grid-row-end: span 2;

				&.major {
					// color: #d48106;
					color: $yellow;
				}
			}
		}

		&>.Actions {
			grid-area: Actions;
			// display: flex;
			// flex-direction: column;
			display: grid;
			grid-template-columns: auto 1fr;
			
			&>.Action {
				display: contents;

				&.bad>.Part { 
					background: $darkGreyRed; 
					border-color: $whiteRed; 
					&.condition { color: $darkGreyRed; }
				}
				&.good>.Part { 
					background: $darkGreyGreen; 
					border-color: $whiteGreen; 
					&.condition { color: $darkGreyGreen; }
				}
				&.choose>.Part, &.neutral>.Part { 
					background: $darkGreyBlue; 
					border-color: $whiteBlue; 
					&.condition { color: $darkGreyBlue; }
				}
				&.warn>.Part { 
					text-align: center;
					// border-color: $whiteRed; 
					// color: $darkGreyRed;
					// box-shadow: none;
					background: $darkGreyRed; 
					border-color: $whiteRed; 
					&.condition { color: $darkGreyRed; }
				}

				
				&>.Part {
					display: inline-block;
					margin: (1in/32);
					margin-top: 0px;
					padding: 4px;
					font-size: 14px;
					border: 3px solid;
					border-radius: 10px;
					box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);

					color: white;

					&.condition {
						background: $offWhite;
						border-right: none;
						margin-right: 0px;
						border-top-right-radius: 0px;
						border-bottom-right-radius: 0px;
						box-shadow: none;
					}

					&.result {
						border-top-left-radius: 0px;
						border-bottom-left-radius: 0px;
						margin-left: 0px;
					}
				}
				
			}
		}

		&>.Description {
			flex-shrink: 1;
			// flex-grow: 1;
			grid-area: Description;
			text-indent: 1em;
			text-align: justify;
			padding: .125in;
			// padding-top: (1in /32);
			font-size: 14px;
			overflow: hidden;


			& em {
				color: #4A90E2;
			}

			&>.SignOff {
				text-indent: 0px;
				margin-top: 1em;
				color: #777;
				font-style: italic;
			}
		}

		&>.Footers {
			font-size: 12px;
		}
	}

	&.back {
		background-image: url("../../../assets/Employees/Backgrounds/Card/Back/Event.svg");
		background-size: contain;
		background-position: center center;
		background-color: white;
		text-align: center;
		padding-top: 170px;
		font-size: 22px;
		color: #4a4a4a;
	}	
}
