@import "$homeDir/Registry/colors/colors";

.Employee-Card {
	width: 3.5in;
	height: 2.5in;
	border-radius: (1in / 10);
	position: relative;
	overflow: hidden;

	&.front {
		display: inline-block;
		// border: (1in / 10) solid black;
		// border: 2px solid black;

		&>.Employee-bg, &>.Employee-fg, 
		&>.Employee-bg>* {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
		}

		// &.team_purple .TeamColor { background: #F6428E; }
		// &.team_purple .TeamColor { background: #a63f9a; }
		
		// &.team_orange .TeamColor{ background: #f5a623; }
		// &.team_forest .TeamColor { background: #41b162; }
		// // &.team_teal .TeamColor { background: #49FFBF; }
		// &.team_teal .TeamColor { background: #2b82cf; }
		

		&>.Employee-bg {
			&>.Floor {
				// background-color: rgb(53, 74, 117);
				// background-size: 0.525in 0.525in;
				// background-image: linear-gradient(to right, #77A 1px, transparent 1px), linear-gradient(to bottom, #77A 1px, transparent 1px);
				background-color: #b6b6b6;
				background-size: 0.525in 0.525in;
				background-image: linear-gradient(to right, #989898 1px, transparent 1px), linear-gradient(to bottom, #989898 1px, transparent 1px);
				// background-position: 34px 34px;
				background-position: 43px 45px;
			}

			&>.Desk {
				display: block;
				content: "";
				background-image: url("../../../assets/Desk.png");
				// background-size: contain;
				background-size: 3.5in auto;
				background-position: top center;
				background-repeat: no-repeat;
			}

			&>.Fade {
				// background: rgba(32,32,32,0.5);
				background: rgba(255,255,255,.5);
			}

			&>.TeamColor {
				display: block;
				content: "";
				height: .25in;
				box-shadow: 0px 0px 10px black;
				background: $darkGrey;
			}
		}

		&>.Employee-fg {
			display: grid;
			grid-template-columns: auto auto 1fr;
			grid-template-rows: auto auto auto 1fr;
			grid-template-areas:
				"Photo Name Needs"
				"Photo Info Info"
				"Stats Info Info"
				". Info Info";

			// background: #f6f5ee;
			// background-color: #2f2e2b80;
			// background-color: #ede8d899;
			// color: white;

			

			&>* { margin: (1in / 16); }


			&>.Name, &>.Needs {
				// color: #111;
				color: white;
			}

			&>.Name {
				position: relative;
				grid-area: Name;
				line-height: .25in;
				margin-top: 0px;
				margin-bottom: 0px;

				&.--font_Rock-Salt { font-size: 13px; letter-spacing: 2px; }
				&.--font_Gloria-Hallelujah { letter-spacing: 2px; }
				&.--font_Reenie-Beanie { font-size: 24px; top: 1px; }
				&.--font_La-Belle-Aurore {font-size: 18px; top: 4px;}
				&.--font_Shadows-Into-Light { letter-spacing: 2px; }
				&.--font_Kalam { top: 2px; }
			}

			&>.Needs {
				grid-area: Needs;
				text-align: right;

				&>.Synergy, &>.Cost {
					display: inline-block;

					.Icon {
						height: 1em;
						width: 1em;
						margin: 0px;
					}
				}
			}

			&>.Photo {
				grid-area: Photo;
				width: 1.25in;
				height: 1.25in;
				border: 3px solid white;
				background: #000;
				position: relative;
				overflow: hidden;
				// box-shadow: 0px 0px 25px rgba(0,0,0,0.3); 

				&>.Photo-bg {
					height: 100%;
					width: 100%;
					// background-size: cover;
					// filter: blur(1.5px) brightness(124%) saturate(175%);
					filter: blur(1.05px);
					&>.Office {
						transform: translate(-50%, -50%) scale(.35);
						position: absolute;
						top: 50%;
						left: 50%;
						// height: 100%;
						// width: 100%;
					}
					&::after {
						position: absolute;
						content: "";
						display: block;
						top: 0px;
						left: 0px;
						height: 100%;
						width: 100%;
						opacity: 0.4;
						box-shadow: inset 0 0 50px black, inset 0 0 20px black;
					}
				}

				&>img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -45%);
					max-height: 125%;
					max-width: 125%;
				}
			}

			&>.Stats {
				position: relative;
				grid-area: Stats;
				// background: wheat;
				background: #fff3dc;
				padding: .0625in;
				margin-top: (1in / 32);
				font-size: 14px;
				border-radius: 3px 3px 1px 1px;
				box-shadow: 0px 0px 25px rgba(0,0,0,0.2); 

				&::before {
					position: absolute;
					display: block;
					content: "";
					top: 0px;
					left: 5px;
					border-bottom: (1in / 16) solid wheat;
			    border-left: (1in / 32) solid transparent;
			    border-right: (1in / 32) solid transparent;
			    height: 0;
					width: (1in / 4);
					transform: translate(0px, -100%);
					// background: inherit;
				}

				&>.Stat {
					&:not(:last-child) {
						border-bottom: 1px solid rgba(0,0,0,0.1);
					}

					&>.StatLabel {
						display: inline-block;
						width: (3in / 8);
						border-right: 1px solid rgba(0,0,0,0.1);
						font-family: monospace;
					}

					&>.StatIcon {
						display: inline-block;
						margin-left: 2px;
						height: 16px;
						width: 16px;
						// background: red;
						border-radius: 20px;
						background-size: contain;
						vertical-align: sub;

						&.art { background-image: url("../../../assets/Icon/Skill/Art.svg"); }
						&.logic { background-image: url("../../../assets/Icon/Skill/Logic.svg"); }
						&.charisma { background-image: url("../../../assets/Icon/Skill/Charisma.svg"); }
						&.patience { background-image: url("../../../assets/Icon/Skill/Patience.svg"); }

						&:nth-child(2) { margin-left: 7px; }
					}
				}
			}

			$quirkFg: #fffe;

			&>.Quirk {
				position: relative;
				grid-area: Info;
				border: 2px dashed $quirkFg;
				border-radius: (1in / 10);
				background: rgba(250, 250, 250, 0.3);
				width: 2in;
				height: 2in;

				&>.Quirk-Card {
					position: absolute;
					top: -2px;
					left: -2px;
					// box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
				}

				&>.Info {
					position: absolute;
					display: block;
					content: "Place Quirk Card Here";
					color: $quirkFg;
					font-size: 20px;
					text-align: center;
					width: 1.5in;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}
		}
	}

	&.back {
		// border: (1in / 10) solid black;
		color: transparent;
		// background-image: radial-gradient(#0c7b6f, #00556c);
		background-image: url("../../../assets/Employees/Backgrounds/Card/Back/Employee.svg");
		background-size: contain;
		background-position: center center;
		// background-color: #fffaea;
		background-color: #fff3dc;
	}	
}