.SetupGame {
	&>.SelectNumPlayers {
		&>.Directions {
			font-size: 30px;
		}

		&>.Selections {
			display: grid;
			grid-template-rows: auto auto;
			grid-template-columns: auto auto;

			&>.Num {
				cursor: pointer;
				display: flex;
				border: 1px solid black;
				font-size: 40px;
				text-align: center;
				height: 100px;
				width: 100px;
				border-radius: 5px;
				margin: 20px;
				align-items: center;
				justify-content: center;
			}
		}
	}
}