$teal: #00cba0;
$darkGrey: #4a4a4a;
$manilla: #fff3dc;
$yellow: #ffdd00;

$offWhite: #fffcf7;

$red: #ea2323;
$orange: #f5a623;
$green: #42b263;
$blue: #2b82cf;
$magenta: #e62e69;

$whiteRed: #f8c0c0;
$darkGreyRed: #9f5454;

$whiteOrange: #ffeccd;

$whiteGreen: #a3e2b5;
$darkGreyGreen: #507e5e;

$whiteBlue: #cbe2f5;
$darkGreyBlue: #5e7a93;