.Quirk-Card {
	position: relative;
	height: 2in;
	width: 2in;
	border-radius: (1in / 10);
	// border: (1in / 10) solid black;
	overflow: hidden;
	display: inline-grid;

	&.front {
		&>.Quirk-bg>*, &>.Quirk-fg {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
		}

		&>.Quirk-bg {
			&>*:not(.Fade) {
				filter: blur(2px);
			}

			&>.Floor {
				background-color: #b6b6b6;
				background-size: 0.525in 0.525in;
				background-image: linear-gradient(to right, #989898 1px, transparent 1px), linear-gradient(to bottom, #989898 1px, transparent 1px);
				background-position: 6px 9px;
			}

			&>.Desk {
				display: block;
				content: "";
				background-image: url("../../../assets/Desk.png");
				background-size: 3.5in auto;
				// background-position: top center;
				background-position: -138px -36px;
				background-repeat: no-repeat;
			}

			&>.Fade {
				background-color: white;
				opacity: 0.92;
			}
		}		
		&>.Quirk-fg {
			grid-template-rows: auto 1fr auto;
			padding: (1in / 16);
			// border: (1in / 32) solid #333;
			border-radius: inherit;
			color: #111;

			&>.Title {
				font-weight: bold;
				font-size: 12px;
				color: #999;
				text-align: center;
				border-bottom: 1px solid #999;
				margin-bottom: (1in / 16);
			}

			&>.Description {
				&>.Qualities {
					margin-top: 10px;
					padding-top: 10px;
					border-top: #999 1px solid;
				}
			}
		}			
	}

	&.back {
		// background-image: url("../../../assets/Employees/Backgrounds/Card/Back/Event.svg");
		background-size: contain;
		background-position: center center;
		background-color: white;
		text-align: center;
		padding-top: 170px;
		font-size: 22px;
		color: #4a4a4a;
	}	
}
