@import "$homeDir/Registry/colors/colors";

$gridColor: rgba(250, 250, 250, 0.2);
// $bluePrintBlue: #5083df;
$bluePrintBlue: #4e92e2;
$headerYellow: #ffc600;
// $headerYellow: #fd0;
// $gridBackColor: rgba(0, 203, 160, 0.2);
$gridBackColor: rgba(0, 0, 0, 0.2);

.Project-Card {
	height: 3.5in;
	width: 2.5in;
	border-radius: (1in / 10);
	// border: (1in / 10) solid black;
	overflow: hidden;
	display: inline-grid;

	background-size: 
		0.125in 0.125in,
		0.125in 0.125in,
		1in 1in,
		1in 1in;
	
	background-position: .25in .25in;
	background-color: $teal;
	background-image: 
		linear-gradient(to right, $gridColor 1px, transparent 1px), 
		linear-gradient(to bottom, $gridColor 1px, transparent 1px),
		linear-gradient(to right, $gridColor 1px, transparent 1px), 
		linear-gradient(to bottom, $gridColor 1px, transparent 1px);

	&.front {
		// background: #e2e1e0;
		// background: #555;
		background-color: $bluePrintBlue;
		// background-image: 
		// 	linear-gradient(to right, $gridColor 1px, transparent 1px), 
		// 	linear-gradient(to bottom, $gridColor 1px, transparent 1px),
		// 	linear-gradient(to right, $gridColor 1px, transparent 1px), 
		// 	linear-gradient(to bottom, $gridColor 1px, transparent 1px);
		
		grid-template-rows: auto 1fr auto;
		grid-template-columns: 1fr;

		&>* { padding: (1in / 16); }

		&>.Header {
			display: flex;
			background: $headerYellow;
			box-shadow: 0px 0px 10px black;

			&>.Name {
				font-size: 14px;
				flex: 1;
			}

			&>.Pay {
				text-align: right;
			}	
		}


		&>.Description {
			// grid-area: Description;
			// border: 1px solid black;
			// font-size: 10px;
			font-size: 11px;
			min-height: 40px;
			justify-self: right;
			border-top-left-radius: 4px;
			color: white;
			// background: #4e92e299;
			background: #2965ad99;

			& p {
				margin: 0px;
				padding: 0px;
			}
		}

		&>.Instructions {
			// grid-area: Tasks;
			& .card {
				background: white;
				box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
				padding: 3px;
				border-radius: 2px;
			}

			&>.Stage {
				// padding: 4px 0px;
				// border-top: 2px solid black;

				&>.ThenSpacer {
					$spacerColor: white;

					text-align: center;
					font-style: italic;
					position: relative;
					font-size: 10px;
					// opacity: 0.75;
					color: $spacerColor;

					&::after {
						display: block;
						content: "";
						position: absolute;
						top: 50%; left: 0px;
						height: 1px; width: 100%;
						background-image: linear-gradient(
							to right, transparent 0%, $spacerColor 30%, transparent 40%, transparent 60%, $spacerColor 70%, transparent 100%
						);
					}
				}

				&>.Jobs {
					&>.Job {
						position: relative;
						display: grid;
						margin: 4px 0px;
						grid-template-rows: auto auto;
						grid-template-columns: 1fr auto;
						grid-template-areas: 
							"Name Name"
							"Count Skills";
						// padding: 4px;

						// &:not(:first-child) {
						// 	padding-top: 8px;

						// 	&:after {
						// 		position: absolute;
						// 		content: "";
						// 		height: 1px;
						// 		width: 90%;
						// 		top: 4px;
						// 		left: 50%;
						// 		transform: translateX(-50%);
						// 		background: rgba(0,0,0,0.4);
						// 	}
						// }

						&>.Rarity {
							position: absolute;
							text-shadow: 0px 0px 3px white;
							background: rgba(250,250,250,0.75);
							bottom: 0px;
							right: 0px;
							font-size: 12px;
						}
						&>.Name {
							grid-area: Name;

							font-size: 11px;
						}

						&>.Count {
							grid-area: Count;

							&>.TaskCheckbox {
								display: inline-flex;
								justify-content: center;
								align-items: center;
								height: 8mm;
								width: 8mm;
								margin: 1px;
								border: 1px solid black;
								border-radius: 1px;
								// opacity: 0.3;
								color: rgba(0,0,0,0.3);
							}
						}
						&>.Skills {
							grid-area: Skills;
							display: grid;
							grid-template-rows: auto auto;
							grid-template-columns: auto auto;
							margin-left: auto;

							&>.Skill {
								display: inline-block;
								// vertical-align: sub;
								white-space: nowrap;

								&>.Token {
									display: inline-block;
									position: relative;
									// margin-left: 2px;
									margin-right: -12px;
									height: 24px;
									width: 24px;
									// background: red;
									border-radius: 20px;
									background-size: contain;
									vertical-align: sub;
									// box-shadow: 0px 0px 6px rgba(0,0,0,0.2);

									&.art { background-image: url("../../../assets/Icon/Skill/Art.svg"); }
									&.logic { background-image: url("../../../assets/Icon/Skill/Logic.svg"); }
									&.charisma { background-image: url("../../../assets/Icon/Skill/Charisma.svg"); }
									&.patience { background-image: url("../../../assets/Icon/Skill/Patience.svg"); }

									&:last-child { margin-right: 2px; }
									&:nth-child(1) { z-index: 3; }
									&:nth-child(2) { z-index: 2; }
									&:nth-child(3) { z-index: 1; }

									&::after {
										position: absolute;
										display: block;
										content: "";
										top: 0px; left: 0px; right: 0px; bottom: 0px;
										border-radius: inherit;
										border: 2px solid rgba(0,0,0,0.2);
										background-blend-mode: multiply;
									}
								}
							}
						}
					}
				}
			}

			&>.Anchor {
				font-size: 12px;
				margin-top: .25in;

				&>.Icon {
					display: inline-block;	
					height: 20px;
					width: 20px;
					background-image: url("../../../assets/Icon/Skill/Anchor.svg");
					background-size: contain;
					margin-right: (1in / 16);
					margin-bottom: -4px;
				}
			}
		}
	}

	&.back {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		// color: $headerYellow;
		color: $darkGrey;

		// background-color: #4a4a4a;
		// // background-image: 
		// // 	linear-gradient(to right, $gridBackColor 1px, transparent 1px), 
		// // 	linear-gradient(to bottom, $gridBackColor 1px, transparent 1px),
		// // 	linear-gradient(to right, $gridBackColor 1px, transparent 1px), 
		// // 	linear-gradient(to bottom, $gridBackColor 1px, transparent 1px);
		
		// color: #ffffffb3;

		&>.Name {
			position: absolute;
			font-size: .125in;	
			font-family: monospace;
			// margin-top: -.125in;
			// top: -11px;
			// left: -42px;
			// color: white;
			top: .125in + 1px;
			left: .25in + 3px;
			letter-spacing: 4.85px;
		}

		&>.Icon {
			font-size: 1.5in;	
			// color: white;
			color: $manilla;
		}
		// background-image: radial-gradient(#0c7b6f, #00556c);
		// background: #5083df;
	}	
}