.Option-Card {
	height: 3.5in;
	width: 2.5in;
	border-radius: (1in / 10);
	border: (1in / 10) solid #222;
	display: inline-grid;

	&.front {
		grid-template-rows: auto 1fr;
		color: black;
		background: white;

		&>.Title {
			display: flex;
			text-align: center;
			background: #EEE;
			border-bottom: 1px solid rgba(100,100,100,0.3);
			padding: .25em 0px;

			&>.Name {
				flex: 1;
			}

			&>.Qualities {
				top: 0px;
				right: 0px;
				flex-shrink: 1;
				&:first-child { visibility: hidden; }

				&>.Quality {
					height: 16px;
					width: 16px;
					border-radius: 16px;
					margin: 0px 4px;
					background: #EA2323;
				}
			}
		}
		
		&>.Description {
			font-size: 13px;
			position: relative;

			&>.Fade {
				position: absolute;
				top: 0px; left: 0px; right: 0px; bottom: 0px;
				opacity: 0.5;
				background-image: linear-gradient(to bottom, white, transparent);
				mix-blend-mode: overlay;
			}

			&>.Bubble {
				&>.Content { 
					position: relative; 
					&>p {margin: 0px;}
				}

				&.--left_bubble, &.--right_bubble {
					max-width: 90%;
					background: #e5e5ea;
					border-radius: (3em / 4);
					padding: 0.25em 0.5em;
					margin: 0.5em;	
				}

				&.--right_bubble { 
					margin-left: auto; 
					background: #087;
					color: white;
				}

				&.--alert {
					margin: 1em auto;
					color: #902424;
					font-size: 12px;
					font-style: italic;
					text-align: center;
				}
			}
		}
	}

	&.back {
		background-image: radial-gradient(#0c7b6f, #00556c);
	}	
}
