.Print-Sheet {
	background: white;
	page-break-inside: avoid;

	&.quirk { background: #f9f9f9; }

	.Project-Card {
		.Rarity {
			// visibility: hidden;
		}
	}

	&>* {
		vertical-align: top;
		border-radius: 0px;
		// margin: 5px;
	}
}