.Game {
	display: flex;
	max-height: 100vh;
	overflow: hidden;

	&>.Modals {
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		z-index: 10;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background: rgba(0,0,0,0.5);

		&>* {
			background: #EEE;
			padding: 20px;
		}
	}

	&>.PlayArea {
		flex: 1;
		overflow: scroll;
		max-height: 100vh;
		background: #333;

		&>.Table {
			// position: relative;
			min-width: 35in;
			background: #4b433b;
			border-radius: 10px;
			// background-image: url("./assets/WoodenTable.jpg");
			// background-image: url("./assets/Employees/Backgrounds/Material/Board.png");
			// image-rendering: -moz-crisp-edges;

			background-size: 50%;
			// background-size: cover;
			cursor: zoom-out;
			display: flex;
			// min-width: auto;

			&.--zoomed_out {
				cursor: zoom-in;
				transform: scale(0.5);
			}

			&>.Decks {
				margin: 1in;
				&>.Deck {
					cursor: pointer;
					display: inline-block;
				}
			}
		}
	}


	&>.DrawnCards {
		// display: none;
		flex-basis: 3.75in;
		flex-grow: 0;
		flex-shrink: 1;
		overflow-y: auto;
		&>* {
			box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
			margin: 10px;
		}
		&>.Project-Card, &>.Employee-Card {
			display: inline-grid;
			cursor: move;
		}
	}
}