@import "$homeDir/Registry/colors/colors";

.Icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-indent: 0px;
	// height: 24px;
	// width: 24px;
	height: 1.5em;
	width: 1.5em;
	margin: -5px 0px -5px 0px;
	border-radius: 2px;
	color: transparent;
	background-size: contain;
	// filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));

	&.art { background-image: url("./assets/Icon/Skill/Art.svg"); }
	&.log { background-image: url("./assets/Icon/Skill/Logic.svg"); }
	&.cha { background-image: url("./assets/Icon/Skill/Charisma.svg"); }
	&.pat { background-image: url("./assets/Icon/Skill/Patience.svg"); }

	&.emee { background-image: url("./assets/Icon/Employee.svg"); }

	&.task { background-image: url("./assets/Icon/Token/Task.svg"); }
	&.blame { background-image: url("./assets/Icon/Token/Blame.svg"); }
	&.touch { background-image: url("./assets/Icon/Token/Touch.svg"); }

	&.d20 { background-image: url("./assets/Icon/D20.svg"); }
	&.beside { background-image: url("./assets/Icon/Direction/Beside.svg"); }
	&.adjacent { background-image: url("./assets/Icon/Direction/Adjacent.svg"); }
	&.repeat { background-image: url("./assets/Icon/Direction/Repeat.svg"); }

	&.common { background-image: url("./assets/Icon/Quality/Common.svg"); }
	&.alluring { background-image: url("./assets/Icon/Quality/Alluring.svg"); }
	&.impulsive { background-image: url("./assets/Icon/Quality/Impulsive.svg"); }
	&.messy { background-image: url("./assets/Icon/Quality/Messy.svg"); }
	&.synergy { 
		// height: 16px;
		// width: 16px;
		background-image: url("./assets/Icon/SynergyLightning.png"); 
	}
}