html, body {
	margin: 0px;
	padding: 0px;
	min-height: 100vh;
}

body {
	box-sizing: border-box;
	// font-family: arial;
	font-family: Roboto;
	color: #333;
}

*, *::before, *::after {
	box-sizing: inherit;
}

p {
	padding: 0px;
	margin: 0px;
}

ul, ol {
	margin: 0px;
	text-indent: 0px;
	padding-left: 30px;

	ul, ol {
		padding-left: 10px;
	}
}


@import "./icons";




@font-face {
	font-family: 'Cedarville-Cursive';
  src:  url('./assets/Fonts/Cedarville_Cursive/Cedarville-Cursive.ttf') format('truetype');
}
.--font_Cedarville-Cursive { font-family: Cedarville-Cursive; }

@font-face {
	font-family: 'Gloria-Hallelujah';
  src:  url('./assets/Fonts/Gloria_Hallelujah/GloriaHallelujah.ttf') format('truetype');
}
.--font_Gloria-Hallelujah { font-family: Gloria-Hallelujah; }

@font-face {
	font-family: 'Gochi-Hand';
  src:  url('./assets/Fonts/Gochi_Hand/GochiHand-Regular.ttf') format('truetype');
}
.--font_Gochi-Hand { font-family: Gochi-Hand; }

@font-face {
	font-family: 'Just-Another-Hand';
  src:  url('./assets/Fonts/Just_Another_Hand/JustAnotherHand-Regular.ttf') format('truetype');
}
.--font_Just-Another-Hand { font-family: Just-Another-Hand; }

@font-face {
	font-family: 'Kalam';
  src:  url('./assets/Fonts/Kalam/Kalam-Regular.ttf') format('truetype');
}
.--font_Kalam { font-family: Kalam; }

@font-face {
	font-family: 'La-Belle-Aurore';
  src:  url('./assets/Fonts/La_Belle_Aurore/LaBelleAurore.ttf') format('truetype');
}
.--font_La-Belle-Aurore { font-family: La-Belle-Aurore; }

@font-face {
	font-family: 'Nothing-You-Could-Do';
  src:  url('./assets/Fonts/Nothing_You_Could_Do/NothingYouCouldDo.ttf') format('truetype');
}
.--font_Nothing-You-Could-Do { font-family: Nothing-You-Could-Do; }

@font-face {
	font-family: 'Over-the-Rainbow';
  src:  url('./assets/Fonts/Over_the_Rainbow/OvertheRainbow.ttf') format('truetype');
}
.--font_Over-the-Rainbow { font-family: Over-the-Rainbow; }

@font-face {
	font-family: 'Reenie-Beanie';
  src:  url('./assets/Fonts/Reenie_Beanie/ReenieBeanie.ttf') format('truetype');
}
.--font_Reenie-Beanie { font-family: Reenie-Beanie; }

@font-face {
	font-family: 'Rock-Salt';
  src:  url('./assets/Fonts/Rock_Salt/RockSalt-Regular.ttf') format('truetype');
}
.--font_Rock-Salt { font-family: Rock-Salt; }

@font-face {
	font-family: 'Shadows-Into-Light';
  src:  url('./assets/Fonts/Shadows_Into_Light/ShadowsIntoLight.ttf') format('truetype');
}
.--font_Shadows-Into-Light { font-family: Shadows-Into-Light; }

@font-face {
	font-family: 'Tangerine';
  src:  url('./assets/Fonts/Tangerine/Tangerine-Regular.ttf') format('truetype');
}
.--font_Tangerine { font-family: Tangerine; }

@font-face {
	font-family: 'Walter-Turncoat';
  src:  url('./assets/Fonts/Walter_Turncoat/WalterTurncoat-Regular.ttf') format('truetype');
}
.--font_Walter-Turncoat { font-family: Walter-Turncoat; }






//Regular
@font-face {
	font-family: 'Roboto';
	font-weight: 100;
  src: url('./assets/Fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
  src: url('./assets/Fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
  src: url('./assets/Fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
  src: url('./assets/Fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
  src: url('./assets/Fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}


//Italics
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 100;
  src: url('./assets/Fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
  src: url('./assets/Fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
  src: url('./assets/Fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 500;
  src: url('./assets/Fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
  src: url('./assets/Fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
}